/*========================================================
  ============== importing Base css files ================
  ========================================================*/
@import "./css/base/index.css";

/*========================================================
  ============== importing Components css files ==========
  ========================================================*/
  @import "./css/components/index.css";

/*========================================================
  ============== importing Layouts css files ==========
  ========================================================*/
  @import "./css/layout/index.css";

.main-content__head-title{
  margin-top: 5rem;
}
.main-content__head-title h1 {
  font-family: 'Playfair Display', serif;
}
.main-content__head-title p {
  margin-bottom: 5px !important;
}