header {
  min-height: 35rem;
  margin: 0 auto;
  max-width: 134rem;
  background-color: #f8f9fb;
  position: relative;
  z-index: -11;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08); */
}

.header__background {
  /* width: 100%; */
  justify-content: flex-end;
  height: 47rem;
}
.header__background > img {
    width: 57%;
}

.header__text {
  position: absolute;
  z-index: 111;
  top: 14%;
  left: 10%;
  background: white;
  width: 45rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 2.4rem;
}

/* sm down */
@media (width <= 767px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__text {
    position: static;
    width: 100%;
    height: 15rem;
  }
  .header__background {
    margin: auto;
    height: 23rem;
  }
  .header__background > img {
    width: 100%;
    height: 100%;
  }
}

/* md down */
@media (767px <= width <= 1199.98px) {
  .header__text {
    width: 30rem;
  }
}
.header__text > h1 {
  text-transform: capitalize;
}
